{% extends "layout.html" %}

{% block content %}
    <div class="about-items">
        software engineer [go, js]
        <br>
        <br>
        <a href="//github.com/antonfisher" target="_blank"><span class="icon icon-github"></span> Github</a>
        <a href="//twitter.com/{{config.twitter}}" target="_blank"><span class="icon icon-twitter"></span> Twitter</a>
        <a href="//linkedin.com/in/afschr/en" target="_blank"><span class="icon icon-linkedin"></span> LinkedIn</a>
        <br>
        <a href="mailto:{{config.email}}" target="_blank"><span class="icon icon-mail"></span> a.fschr@gmail.com</a>
    </div>
{% endblock %}
