{% extends "layout.html" %}

{% block content %}
    <div class="about-items">
        <a href="//github.com/antonfisher" target="_blank"><span class="icon icon-github"></span> Github</a>
        <a href="//linkedin.com/in/afschr/en" target="_blank"><span class="icon icon-linkedin"></span> Linkedin</a>
        <a href="//habrahabr.ru/users/afschr/" target="_blank"><span class="icon icon-earth"></span> Habrahabr</a>
        <a href="//twitter.com/akunia" target="_blank" style="padding-bottom: 10px">
            <span class="icon icon-twitter"></span>
            Twitter
        </a>
        <a href="skype:a.fschr?add"><span class="icon icon-skype"></span> a.fschr</a>
        <a href="mailto:{{config.email}}" target="_blank"><span class="icon icon-mail"></span> a.fschr@gmail.com</a>
    </div>
{% endblock %}
