$colorText: #444444;
$colorGray: #999999;
$colorBorder: #e0e0e0;
$colorLink: #556699;
$colorLinkHover: #6677bb;

// --- layout ---

body {
    font-family: "Ubuntu", "Arial";
    font-size: 1em;
    font-weight: normal;
    color: $colorText;
}

.container {
    max-width: 790px;
    margin: 39px auto;
    padding: 20px
}

// --- common ---

a {
    text-decoration: none;
    color: $colorLink;
}

a:visited, a:hover {
    color: $colorLinkHover;
}

a:hover {
    text-decoration: underline;

    h1, .icon {
        text-decoration: none;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $colorBorder;
    height: 0;
    width: 100%;
    clear: both;
}

h1 {
    font-size: 1.9em;
    margin: 0;
    padding: 5px 0 0 0;
    color: #555;
}

h2 {
    font-size: 1.7em;
    margin: 0;
}

pre {
    background-color: #fafafa;
    border: 1px dotted #dddddd;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 0.85em;
    margin: 0 0 2em 0;
}

span.devider {
    display: inline-block;
    border: 0;
    border-right: 1px solid $colorBorder;
    height: 100%;
    width: 0px;
    margin: 0 5px;
}

.clear {
    clear: both;
}

// --- structure ---

header {
    border-bottom: 1px solid $colorBorder;
    clear: both;

    a, a:hover, a:visited {
        color: $colorText;
        text-decoration: none;
    }

    a:hover {
        color: #555555;
        text-decoration: none;
    }

    img {
        float: right;
        border-radius: 5px;
        transition: 0.15s ease-in-out;
        margin: 0 0 3px 3px;
    }
    img:hover {
        transform: rotate(-3deg);
    }

    div.link {
        padding: 24px 20px 0 0;
        float: left;

        a, a:visited {
            color: #ccc;
            font-size: 0.9em;
        }

        a:hover {
            color: $colorLinkHover;
            text-decoration: underline;
        }
    }

    div.title {
        float: left;
        padding: 0 20px 0 3px;
        margin: 5px 0;
        font-size: 2.5em;
        line-height: 1em;
        font-weight: bold;

        span {
            color: #666666;
            font-size: 0.7em;
            padding-left: 5px;
        }
    }
}

.content {
    clear: both;
    padding: 35px 0 25px 0;
}

.post-item {
    padding: 13px 0;

    time {
        color: $colorGray;
        font-size: 0.7em;
    }

    img {
        float: right;
        width: 30%;
        margin: 0 0 0 15px;
        border: 1px solid #f5f5f5;
    }
}

.about-items {
    padding: 0 0 10px 0;

    a {
        display: block;
        margin: 10px 0;
    }
}

.about-items {
    padding-left: 10px;
}

article {
    a {
        text-decoration: underline;
    }

    p {
        line-height: 2em;
        margin: 1em 0;
    }

    time {
        color: $colorGray;
        font-size: 0.7em;
        padding-left: 2px;
    }

    img {
        width: 100%;
    }

    h1 {
        padding: 0.5em 0 0 0;
    }
}

footer {
    padding: 10px 0 0 1px;
    font-size: 0.7em;
    color: $colorGray;
    border-top: 1px solid $colorBorder;

    div {
        float: left;
    }

    div.right {
        float: right;
        text-align: left;
    }
}

// --- icons ---
$icon-home: "\e900";
$icon-envelop: "\e901";
$icon-mobile: "\e902";
$icon-earth: "\e90d";
$icon-checkbox-checked: "\e903";
$icon-checkbox-unchecked: "\e904";
$icon-terminal: "\e905";
$icon-mail: "\e907";
$icon-twitter: "\e909";
$icon-github: "\e90a";
$icon-skype: "\e90b";
$icon-linkedin: "\e90c";

@font-face {
    font-family: 'icomoon';
    src:url('/resources/fonts/icomoon.eot?kokoko');
    src:url('/resources/fonts/icomoon.eot?kokoko#iefix') format('embedded-opentype'),
    url('/resources/fonts/icomoon.ttf?kokoko') format('truetype'),
    url('/resources/fonts/icomoon.woff?kokoko') format('woff'),
    url('/resources/fonts/icomoon.svg?kokoko#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-envelop:before {
    content: "\e901";
}
.icon-mobile:before {
    content: "\e902";
}
.icon-earth:before {
    content: "\e90d";
}
.icon-checkbox-checked:before {
    content: "\e903";
}
.icon-checkbox-unchecked:before {
    content: "\e904";
}
.icon-terminal:before {
    content: "\e905";
}
.icon-mail:before {
    content: "\e907";
}
.icon-twitter:before {
    content: "\e909";
}
.icon-github:before {
    content: "\e90a";
}
.icon-skype:before {
    content: "\e90b";
}
.icon-linkedin:before {
    content: "\e90c";
}
