$colorText: #444;
$colorTextLight: #999;
$colorBorder: #e0e0e0;
$colorBorderLight: #e6e6e6;
$colorLink: #556699;
$colorLinkHover: #6677bb;

// --- layout ---

body {
    font-family: 'Ubuntu', '-apple-system', 'sans-serif';
    font-size: 1em;
    font-weight: normal;
    color: $colorText;
}

.container {
    max-width: 790px;
    margin: 35px auto;
    padding: 1.5em;
}

// --- common ---

a {
    text-decoration: none;
    color: $colorLink;
    cursor: pointer;

    &:visited,
    &:hover {
        color: $colorLinkHover;
    }

    &:hover {
        text-decoration: underline;

        h1,
        .icon {
            text-decoration: none;
        }
    }
}

hr {
    border: 0;
    border-bottom: 1px solid $colorBorder;
    height: 0;
    width: 100%;
    clear: both;
}

h1 {
    font-size: 2em;
    margin: 0;
    padding: 5px 0 0 0;
    color: #555;
}

h2 {
    font-size: 1.7em;
    margin: 35px 0 0 0;
}

h3 {
    span {
        font-weight: normal;
    }
}

pre {
    background-color: #fafafa;
    border: 1px dotted #dddddd;
    padding: 12px 15px;
    border-radius: 5px;
    margin: 0 0 2em 0;
}

span.divider {
    display: inline-block;
    border: 0;
    border-right: 1px solid $colorBorder;
    height: 100%;
    width: 0;
    margin: 0 5px;
}

.clear {
    clear: both;
}

// --- structure ---

header {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    border-bottom: 1px solid $colorBorder;

    .title-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid $colorBorderLight;

        .title {
            .name {
                font-size: 2.5em;
                line-height: 1em;
                font-weight: bold;
                color: $colorText;
                text-decoration: none;
                margin-left: 3px;

                &:hover {
                    color: #555;
                    text-decoration: none;
                }
            }

            .about {
                color: $colorTextLight;
                font-size: 0.85em;
                padding: 7px 0 13px;
                margin: 0;
            }
        }

        .photo {
            width: 60px;
            height: 60px;
            border-radius: 5px;
            transition: 0.15s ease-in-out;
            margin: 0 0 3px 13px;

            &:hover {
                transform: rotate(-3deg);
            }
        }
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.9em;

        a {
            padding: 13px 0;

            .link-title {
                display: none;

                @media only screen and (min-width: 613px) {
                    & {
                        display: inline;
                    }
                }
            }
        }
    }
}

.content {
    clear: both;
    padding: 30px 0 15px 0;

    ul.tags {
        list-style-type: none;
        padding-left: 4px;

        li {
            .count {
                color: $colorTextLight;
                font-size: 0.7em;
                display: inline-block;
                width: 30px;
                text-align: right;
            }
        }
    }
}

.post-item {
    padding: 25px 0;
    border-bottom: 1px dotted #eeeeee;

    time {
        color: $colorTextLight;
        font-size: 0.7em;
    }

    p {
        line-height: 1.5em;
        margin: 1em 0;

        img {
            width: 42%;
            float: right;
            margin-left: 1em;

            @media screen and (max-width: 790px) {
                width: 50%;
            }
            @media screen and (max-width: 550px) {
                width: 100%;
                float: none;
                margin-left: 0;
            }
        }
    }

    h2 {
        margin: 0;
    }
}

.post-item:last-child {
    border-bottom: 0;
}

article {
    a {
        text-decoration: underline;
    }

    p {
        line-height: 1.75em;
        margin: 1em 0;
    }

    time {
        color: $colorTextLight;
        font-size: 0.7em;
        padding-left: 2px;
    }

    img {
        max-width: 100%;
        margin: 20px 0;
    }

    h1 {
        padding: 0.5em 0 0 0;
        margin: 10px 0 1px 0;
    }
    h3 {
        margin: 2em 0 0 0;
    }

    pre {
        overflow-x: auto;
        font-size: 0.97em;

        code {
            background-color: inherit;
            padding: 0;
        }
    }

    li {
        padding: 5px 0;
    }

    code {
        font-size: 0.85em;
        background-color: #f0f0f0;
        border-radius: 3px;
        padding: 3px 5px;
    }

    span.tags {
        font-size: 0.7em;
        padding-left: 8px;
        margin-left: 5px;
        border-left: 1px solid $colorBorderLight;
        color: $colorTextLight;

        a {
            color: #bbbbdd;
            padding-left: 4px;
            text-decoration: none;

            &:hover {
                color: $colorLinkHover;
                text-decoration: underline;
            }
        }
    }
}

.top-border-block {
    border-top: 1px solid $colorBorderLight;

    .label {
        display: inline-block;
        margin: 15px 1px;
    }
}

.comments {
    margin: 50px 0 45px 0;

    #disqus_thread {
        margin: 0;
        padding: 0 20px;
    }
}

footer {
    padding: 5px 0 0 1px;
    font-size: 0.7em;
    color: $colorTextLight;
    border-top: 1px solid $colorBorder;

    nav {
        display: block;
        float: left;
    }

    div {
        float: right;
        text-align: left;
    }
}

// --- icons ---
@font-face {
    font-family: 'icomoon';
    src: url('/resources/fonts/icomoon.eot?phtrx9');
    src: url('/resources/fonts/icomoon.eot?phtrx9#iefix') format('embedded-opentype'),
        url('/resources/fonts/icomoon.ttf?phtrx9') format('truetype'),
        url('/resources/fonts/icomoon.woff?phtrx9') format('woff'),
        url('/resources/fonts/icomoon.svg?phtrx9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: '\ea83';
}
.icon-instagram:before {
    content: '\ea92';
}
.icon-twitter:before {
    content: '\ea96';
}
.icon-rss2:before {
    content: '\ea9c';
}
.icon-github:before {
    content: '\eab0';
}
.icon-linkedin:before {
    content: '\eac9';
}

// --- fonts ---
/* latin-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'),
        url(https://fonts.gstatic.com/s/ubuntu/v8/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2)
            format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'),
        url(https://fonts.gstatic.com/s/ubuntu/v8/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
        U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
