<!DOCTYPE html>
<!--
 _____     _           _____ _     _
|  _  |___| |_ ___ ___|   __|_|___| |_ ___ ___   ___ ___ _____
|     |   |  _| . |   |   __| |_ -|   | -_|  _|_|  _| . |     |
|__|__|_|_|_| |___|_|_|__|  |_|___|_|_|___|_| |_|___|___|_|_|_|

{{config.name}} <{{config.email}}>

-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <title lang="en">{{config.name}}{{' / ' + title if title else ''}}</title>
    <meta name="description" content="{{post.metaDescription | default(config.description)}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{config.name}}">
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
    <link href="/css/all.min.css" rel="stylesheet">
    <link href="/favicon.ico" rel="icon">
</head>

<body>
    <div class="container">
        <header>
            <div class="title-container" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <div class="title">
                    <a href="/" class="name" itemprop="name" title="Home">
                        {{config.name}}
                    </a>
                    <p class="about">
                        software engineer [js, go]
                    </p>
                </div>

                <img src="/images/anton-fisher-v3.jpg" class="photo" itemprop="image" title="Anton Fisher photo"
                    alt="Anton Fisher photo">
            </div>
            <div class="links-container">
                <a href="//github.com/antonfisher" target="_blank" rel="noreferrer" title="my code on github">
                    <span class="icon icon-github"></span>&nbsp;<span class="link-title">github</span>
                </a>
                <a href="//instagram.com/{{config.instagram}}" target="_blank" rel="noreferrer" title="my art on instagram">
                    <span class="icon icon-instagram"></span>&nbsp;<span class="link-title">instagram</span>
                </a>
                <a href="//twitter.com/{{config.twitter}}" target="_blank" rel="noreferrer" title="my random thoughts on twitter">
                    <span class="icon icon-twitter"></span>&nbsp;<span class="link-title">twitter</span>
                </a>
                <a href="//linkedin.com/in/afschr/en" target="_blank" rel="noreferrer" title="my job list on linkedin">
                    <span class="icon icon-linkedin"></span>&nbsp;<span class="link-title">linkedin</span>
                </a>
                <a href="/feed.xml" title="RSS feed link">
                    <span class="icon icon-rss2"></span>&nbsp;<span class="link-title">rss</span>
                </a>
                <a href="mailto:{{config.email}}" target="_blank" rel="noreferrer">
                    <span class="icon icon-mail"></span>&nbsp;<span class="link-title">a.fschr@gmail.com</span>
                </a>
            </div>
        </header>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <nav>
                <a href="/">home</a>
                <span class="divider">&nbsp;</span>
                <a href="/feed.xml">rss</a>
            </nav>
            <div>
                &copy;
                <time>
                    <script>document.write(new Date().getFullYear())</script></time>
                {{config.name}}
            </div>
        </footer>
    </div>
</body>
<script>
    if (window.location.hostname !== 'localhost') {
        (function (i, s, o, g, r, a, m) {i['GoogleAnalyticsObject'] = r;i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date();a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];a.async = 1;a.src = g;m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{config.ga}}', 'antonfisher.com');
        ga('send', 'pageview');
    }
</script>

</html>
